@model Application.Models.SportListView

@{
    ViewBag.Title = "Sports";
}

<h2>Svi sportovi:</h2>

<div class="col-md-12" style="margin:8px">
    <table class="table-responsive col-md-5 table-hover table-condensed style=" style="margin-bottom:5px">
        <tr>
            <th class="col-md-2.5">Ime sporta</th>
            <th class="col-md-2.5">User koji je dodao sport</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        @foreach (var s in Model.All_sports)
        {
            @:
            <tr>
                <td class="col-md-2.5">@Html.ActionLink(s.Sport.Name, "Index", new { sportname = s.Sport.Name })</td>
                <td class="col-md-2.5">@s.Sport.User.Username</td>
            </tr>
        }
    </table>
</div>